/* Cores da página */
:root {
    --color-one:#e7ebf3;
    --color-two:#1d3c7a;
    --color-tree:#e6e9f2;
    --color-four:#b4c0e8;
    --color-five:#4760ef;
    --color-six:#ffffff0d;
    --color-seven:#dadce09f;
    --color-eight:#1e26cb;
    --color-nine:#6a7c92;
    --color-ten:#faf4fd;
    --color-eleven:#888c9b;
}
/**/